* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(tlo.jpg);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: 60%;
    height: 70%;
}

.day {
    background-color: #000000;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: aliceblue;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
}

.day:hover {
    background-color: #ffcc00;
    color: #fff;
    transform: scale(1.1);
}

.day:hover::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    color: #16a6df;
    text-align: center;
    width: 80%;
}
